.App {
  text-align: center;
  display: flex;
  background-color: #FBECF1;
  position: absolute;
  top: 0;bottom: 0;left: 0; right: 0;
}

.App-sidemenu{
  width: calc(80px + 25vmin);
  position: relative;
  min-height: 100vh;
  border: 1px #FB9EBD;
  background-color: #FB9EBD;
  padding: 10px;
}

.new-chat-button {
  width: calc(40px + 25vmin);
  background-color: #FFC4D8;
  padding: 1rem;
  margin-bottom: 30px;
  border: none;
  border-radius: 1.5rem;
  color: #EC409A;
  font-family: 'Nunito';
  font-weight: 900;
  font-size: medium;
  line-height: 0.75;
  text-align: center;
  transition: 0.25s all;
}

.new-chat-button:hover {
  background-color: rgba(255, 255, 255, 0.25);
  cursor: pointer;
}

.history-tab {
  position: absolute;
  max-height: calc(80vh - 100px);
  overflow-y: auto;
  overflow-x: hidden;
}

.history-tab-button {
  width: calc(40px + 25vmin);
  background-color: #FFC4D8;
  padding: 1rem;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 1.5rem;
  border: none;
  line-height: 0.75;
  color: #EC409A;
  font-family: 'Nunito';
  font-weight: 900;
  font-size: medium;
  text-align: left;
  transition: 0.25s all;
}

.history-tab-button:hover {
  background-color: rgba(255, 255, 255, 0.25);
  cursor: pointer;
}

.sidemenu-settings {
  position: absolute;
  bottom: 0; left: 0; right: 0;
}

.slider-uwu {
  height: 5vh;
  box-sizing: border-box;
  background-color: #FB9EBD;
  padding: 0px;
  border: none;
  margin: 10px;
  margin-bottom: 0px;
  line-height: 0.75;
  color: #462637;
  font-family: 'Nunito';
  font-weight: 700;
  font-size:large;
  box-sizing: border-box;
}

.slider-uwu-input {
  width: 65%;
  height: 8px;
  border: #EC409A;
  border-radius: 5px;
  background: #FCD8E4;
  color: #EC409A;
  outline:#EC409A;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider-uwu-input input[type=range]::-webkit-slider-thumb {
  background-color: #EC409A;
}

.radio-box {
  height:fit-content;
  background-color: #FB9EBD;
  padding: 10px;
  border: none;
  margin: 10px;
  margin-bottom: 0px;
  color: #462637;
  font-family: 'Nunito';
  font-weight: 700;
  font-size:large;
  box-sizing: border-box;
}

.radio-box-kmp {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 10px;
}

.radio-box-bm {
  display: flex;
  flex-direction: row;
  margin: 10px;
  width: 100%;
}

input[type="radio"] {
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 3px solid #EC409A;
  margin-right: 10px;
  outline: none;
  cursor: pointer;
}

input[type="radio"]:checked {
  background-color: #EC409A;
  border-color: #EC409A;
}

.App-chatbox{
  background-color: #FCD8E4;
  min-height: 100vh;
  min-width: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #EC409A;
  flex: 1;
  position: relative;
}

.App-splash {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  word-wrap: break-word;
  white-space: pre-wrap;
}

.App-logo {
  height: calc(10px + 5rem);
  pointer-events: none;
}

.App-icon-howtouse {
  height: calc(0.1px + 1.9rem);
  width: calc(0.1px + 1.9rem);
  margin-top: calc(5px + 2vmin);
  margin-bottom: calc(0.1px + 2vmin);
  pointer-events: none;
}

.App-howtouse-text {
  background-color: #FFC4D8;
  padding: 0.75rem;
  padding-left: calc(0.5px + 2rem);
  padding-right: calc(0.5px + 2rem);
  border-radius: 1rem;
  line-height: 1.0;
}

.text-howtouse-title {
  font-family: 'Nunito';
  font-weight: 800;
  font-size: calc(2px + 1rem);
}

.text-howtouse-desc {
  font-family: 'Nunito';
  font-weight: 500;
  font-size: calc(0.05px + 0.75rem);
}

.text-howtouse-calc {
  font-family: 'Nunito';
  font-weight: 800;
  font-size: calc(0.05px + 0.75rem);
}

.text-howtouse-calc-desc {
  font-family: 'Nunito';
  font-weight: 500;
  font-size: calc(0.05px + 0.75rem);
}

.text-howtouse-calendar {
  font-family: 'Nunito';
  font-weight: 800;
  font-size: calc(0.05px + 0.75rem);
}

.text-howtouse-calendar-desc {
  font-family: 'Nunito';
  font-weight: 500;
  font-size: calc(0.05px + 0.75rem);
}

.text-howtouse-add {
  font-family: 'Nunito';
  font-weight: 800;
  font-size: calc(0.05px + 0.75rem);
}

.text-howtouse-add-desc {
  font-family: 'Nunito';
  font-weight: 500;
  font-size: calc(0.05px + 0.75rem);
}

.text-howtouse-update {
  font-family: 'Nunito';
  font-weight: 800;
  font-size: calc(0.05px + 0.75rem);
}

.text-howtouse-update-desc {
  font-family: 'Nunito';
  font-weight: 500;
  font-size: calc(0.05px + 0.75rem);
}

.text-howtouse-delete {
  font-family: 'Nunito';
  font-weight: 800;
  font-size: calc(0.05px + 0.75rem);
}

.text-howtouse-delete-desc {
  font-family: 'Nunito';
  font-weight: 500;
  font-size: calc(0.05px + 0.75rem);
}

.text-howtouse-ps {
  font-family: 'Nunito';
  font-weight: 400;
  font-size: calc(0.01px + 0.6rem);
}

.chat-input-box {
  width: 100%;
  background-color: #FCD8E4;
  padding: 10px;
  position: absolute;
  bottom: 0;
  left: 0; right: 20px;
  display: flex;
  justify-content: space-between;
}

.chat-input-textarea {
  background-color: #FFC4D8;
  height: fit-content;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: none;
  margin: 10px;
  resize: none;
  outline: none;
  color: #462637;
  font-family: 'Nunito';
  font-weight: 400;
  font-size: medium;
  box-sizing: border-box;
}

.chat-input-send {
  display: flex;
  align-items: center;
}

.chat-input-send button {
  background-color: transparent;
  border: none;
}

.chat-send-button {
  height: calc(8px + 1rem);
  pointer-events: none;
}

.chat-input-send button:hover {
  cursor: pointer;
}

.chat-bubble-container {
  width: 100%;
  position: absolute;
  top: 0px;
  max-height: calc(95vh - 45px);
  overflow-y: auto;
  overflow-x: hidden;
}

.chat-bubble {
  width: 100%;
  position:relative;
  background-color: transparent;
  border: none;
  margin: 0.5rem;
  align-items:unset;
  align-content: unset;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  top:0;
}

.chat-bubble-q {
  width: fit-content;
  background-color: transparent;
  border: none;
  align-items: left;
  align-content: left;
  margin-right: 2rem;
  margin-left: 10rem;
  margin-top: 1rem;
  right:0;
  align-self: flex-end;
  word-wrap: break-word;
  white-space: pre-wrap;
}

.chat-bubble-a {
  width: fit-content;
  background-color: transparent;
  border: none;
  align-items: left;
  align-content: left;
  margin-left: 2rem;
  margin-right: 10rem;
  margin-top: 1rem;
  left:0;
  align-self: flex-start;
  word-wrap: break-word;
  white-space: pre-wrap;
}

.bubble {
  width: fit-content;
  border: none;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.bubble-text {
  width: fit-content;
  border: none;
  border-radius: 1.5rem;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 1rem;
  padding-right: 1rem;
  color: #462637;
  word-wrap: break-word;
  font-family: 'Nunito';
  font-weight: 400;
  font-size: medium;
  word-wrap: break-word;
  white-space: pre-wrap;
}

.bubble-date {
  min-width: fit-content;
  color: #7A7878;
  font-size: 0.6rem;
  margin: 0.3rem;
  vertical-align: bottom;
  word-wrap: break-word;
  white-space: pre-wrap;
  font-family: 'Nunito';
  font-weight: 300;
}

body {
  overflow-x: hidden;
  overflow-y: hidden;
  margin: 10px;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Nunito';
  src: url('./resources/font/Nunito-Black.ttf') format('ttf');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url('./resources/font/Nunito-ExtraBold.ttf') format('ttf');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url('./resources/font/Nunito-Bold.ttf') format('ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url('./resources/font/Nunito-SemiBold.ttf') format('ttf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url('./resources/font/Nunito-Medium.ttf') format('ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url('./resources/font/Nunito-Regular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url('./resources/font/Nunito-Light.ttf') format('ttf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url('./resources/font/Nunito-ExtraLight.ttf') format('ttf');
  font-weight: 200;
  font-style: normal;
}

/* Style the scrollbar */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #EB7CA1;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #EC409A;
}