.App {
  text-align: center;
}

.App-logo {
  height: 13vmin;
  pointer-events: none;
}

.App-howtouse {
  height: 1vmin;
  pointer-events: none;
}

.App-header {
  background-color: #FCD8E4;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #EC409A;
}

@font-face {
  font-family: 'Nunito';
  src: url('./resources/font/Nunito-Black.ttf') format('ttf');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url('./resources/font/Nunito-ExtraBold.ttf') format('ttf');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url('./resources/font/Nunito-Bold.ttf') format('ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url('./resources/font/Nunito-SemiBold.ttf') format('ttf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url('./resources/font/Nunito-Medium.ttf') format('ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url('./resources/font/Nunito-Regular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url('./resources/font/Nunito-Light.ttf') format('ttf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url('./resources/font/Nunito-ExtraLight.ttf') format('ttf');
  font-weight: 200;
  font-style: normal;
}

